<div id="create-post-wrap">
  <h2 class="mb-5">Post Creator - Share Your Thoughts</h2>
  <form id="create-post-form" data-group-name="<%=groupName%>">
    <div class="mb-4">
      <label for="input-post-title" class="form-label">Post Title</label>
      <input
        type="text"
        name="title"
        class="form-control form-control-lg"
        id="input-post-title"
      />
    </div>

    <div class="mb-4">
      <label for="input-post-group" class="form-label">Post Group</label>
      <select class="form-select" name="" id="group-select">
        <% if (groupName) { %>
        <option value="">none</option>
        <% } else { %>
        <option value="" selected>none</option>
        <% } for( let index = 0; index < groups.length; index++ ) { if
        (groupName == groups[index].groupName) { %>
        <option value="<%= groups[index]._id %>" selected>
          <%=groups[index].groupName%>
        </option>
        <% } else { %>
        <option value="<%= groups[index]._id %>">
          <%=groups[index].groupName%>
        </option>
        <% }} %>
      </select>
    </div>

    <label for="content-input-list" class="form-label">Post Content</label>
    <ul id="content-input-list"></ul>
    <button id="add-content-input-btn" class="btn btn-secondary mb-3">
      add content
    </button>
    <br />
    <button id="create-post-submit" class="btn btn-primary">Create Post</button>
  </form>
</div>

<script type="module" src="/contentWindow/create-post.js"></script>
